/* FONTS */
$font-fallback-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-main: 'Raleway', $font-fallback-main;
$font-extra: 'Roboto', $font-fallback-main;
$font-size-main: 15px;

/* BLOCKS */
$block-max-width: 1440px;
$block-padding: 20px;

/* ANIMATION */
$transition-main: unquote('.25s cubic-bezier(0.645, 0.045, 0.355, 1)');

/* COLORS */
$color-white: #ffffff;
$color-dark-blue: #061e37;
$color-grey: #b0bec5;
$color-dark-grey: #78909c;
$color-green: #1de9b6;
