html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="format-detection" content="telephone=no")
    meta(name="format-detection" content="address=no")
    meta( name='viewport' content='width=device-width initial-scale=1')
    link(rel="shortcut icon" type="image/png" href="img/favico.png")
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
    script(src="js/libs.min.js")
    script(src="js/scripts.js")
    title pageTitle
  body
    include modules/header.pug
    include modules/shop.pug
    include modules/about.pug
    include modules/promo.pug
    include modules/services.pug
    
    