.boss.block
  .boss__wrapper.block-wrapper
    .boss__top
      .boss__top-title Our Director
      .boss__top-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    .boss__bottom
      .boss__bottom-avatar
        img.boss__bottom-avatar-img(src="img/boss-avatar.png")
      .boss__bottom-name Sophie Turner
      .boss__bottom-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magnaLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
      .boss__bottom-socials  
        include socials.pug