.footer.block
  .footer__wrapper.block-wrapper
    .footer__background
    .footer__top
      a.footer__top-link(href="#")
        img(src="img/logo.png", alt="logo")
      include nav.pug 
    .footer__bottom
      ul.footer__bottom-list
        li.footer__bottom-item
          a.footer__bottom-item-link(href="#") Privecy Policy
        li.footer__bottom-item
          a.footer__bottom-item-link(href="#") About Us  
        li.footer__bottom-item
          a.footer__bottom-item-link(href="#") About Us  
      .footer__bottom-socials
        include socials.pug    