header.header.block
  .header__wrapper.block-wrapper
    button.hamburger.hamburger--collapse.js-burger(type="button")
      span.hamburger-box
        span.hamburger-inner
    a.header__logo-link(href="#")
      img.header__logo-img(src="img/logo.png" alt="logo")
    .header__nav
      include nav.pug
    a.header__action(href="#")
      span.header__action-text sign up