-
  var navItems = [
    {url: '#', title: "Home"},
    {url: '#', title: "Service"},
    {url: '#', title: "Extension"},
    {url: '#', title: "Pricing"},
    {url: '#', title: "Help"}
  ]

.nav
  ul.nav__list
    each item in navItems
      li.nav__item
        a.nav__link(href=item.url)=item.title 

.nav-mobile.js-menu
  ul.nav-mobile__list
    each item in navItems
      li.nav-mobile__item
        a.nav-mobile__link(href=item.url)=item.title        
  a.nav-mobile__action(href="#")
      span.nav-mobile__action-text sign up       