.promo.block
  .promo__wrapper
    .promo__list
      .promo__item
        .promo-item.promo-item_blue
          .promo-item__figure
            img.promo-item__img(src="img/promo1.png" alt="promo") 
          .promo-item__title 12000+<br> Business  
      .promo__item    
        .promo-item.promo-item_dark-blue
          .promo-item__figure
            img.promo-item__img(src="img/promo2.png" alt="promo") 
          .promo-item__title 60000+<br> Downloads 
      .promo__item    
        .promo-item.promo-item_dark-pink
          .promo-item__figure
            img.promo-item__img(src="img/promo3.png" alt="promo") 
          .promo-item__title 30000+<br> Free Installs 
      .promo__item    
        .promo-item.promo-item_pink
          .promo-item__figure
            img.promo-item__img(src="img/promo4.png" alt="promo") 
          .promo-item__title 40000+<br> Pro Users      