.shop.block
  .shop__wrapper.block-wrapper
    .shop__background
    .shop__main
      .shop-main
        h1.shop-main__title lorem Ipsum Dolor sit amet
        .shop-main__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc
        .shop-main__actions
          a.shop-main__action(href="#")
            span.shop-main__action-text BUY NOW
          a.shop-main__action(href="#")
            span.shop-main__action-text TRY FOR FREE
    .shop__side
      .shop-side
        iframe.shop-side__video(src="https://www.youtube.com/embed/EU6JAEBqoLo" frameborder="0" allowfullscreen="allowfullscreen")