div(class="shop block")
  div(class="shop__wrapper block-wrapper")
    div(class="shop__background")
    div(class="shop__main")
      div(class="shop-main")
        h1(class="shop-main__title") lorem Ipsum Dolor sit amet
        div(class="shop-main__description") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc
        div(class="shop-main__actions")
          a(class="shop-main__action" href="#")
            span(class="shop-main__action-text") BUY NOW
          a(class="shop-main__action" href="#")
            span(class="shop-main__action-text") TRY FOR FREE
    div(class="shop__side")
      div(class="shop-side")
        iframe(class="shop-side__video", src="https://www.youtube.com/embed/EU6JAEBqoLo", frameborder="0", allowfullscreen="allowfullscreen")
        
        